
<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
     

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Kaduna South Local Government Councillors Election </h1>
        <p class="lead">4th September, 2021</p>
        <%if user_signed_in?%>
       

        <canvas id="myChart" width="200px" height="100px" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
        <hr>
        <p class="lead">
          
          <%= link_to "Chairmanship Election", root_path, class:"btn btn-lg btn-secondary" %>
         
        </p>
        <%else%>
         <p class="lead">
          
          <%= link_to "Login", new_user_session_path, class:"btn btn-lg btn-secondary" %>
         
        </p>
<%end%>
      </main>

      
    </div>
