<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
     

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Kaduna South Local Government Election </h1>
        <p class="lead">4th September, 2021</p>
        <p class="lead">
          <%= link_to "Login", new_user_session_path, class:"btn btn-lg btn-secondary" %>
         
        </p>
      </main>

      
    </div>

